@import url("/color.css");
p {
    margin: 0;
}
/* Root elements */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
#__nuxt {
    padding: 2rem 3rem;
    height: 100%;
}
/* Typography */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

p {
    line-height: 1.5;
}

/* Buttons */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0069d9;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.error {
    font-size: 0.8rem;
    color: lightcoral;
}
